################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
/.vs

# Build results
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Nn]et6.0/
[Ll]og/

/PizzaWebApi/obj
/PizzaWebApi/obj/Debug/net6.0-windows/ref/PizzaWebApi.dll
/PizzaWebApi/bin
/PizzaWebApi/bin/Debug/net6.0-windows

/PizzaWebApi/PizzaWebApi/PizzaWebApi.csproj.user
/drive
/pizza-site/.vs
/pizza-site/.vscode
/pizza-site/.angular/cache/13.3.7
/pizza-site/node_modules
/sidorov_lesson2_1_1/.vs
